WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v15/ipch/AutoPCH/WIN32SIMPLESAMPLE-b61102aa/TOOLMAIN-9ab8bee5/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.opendb
*.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/d84e56e2-5ea2-4e71-bd22-caf8a358ba69.vsidx
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/48573f4b-9194-40ef-8dc2-05b8b5a6e6d9.vsidx
