WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v15/ipch/AutoPCH/WIN32SIMPLESAMPLE-b61102aa/TOOLMAIN-9ab8bee5/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/ef7acf3f-cfd1-4bee-9d73-33363fac7a1d.vsidx
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/0ae1e54f-ccc9-45f2-ae24-a20f29b85b30.vsidx
